<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>textutiles</title>
</head>
<body>
<h1>welcome to the text analyzer , enter your text below</h1>
</body>
<form action="analyze" method="get">

<textarea name = 'text' style="width: 1502px; height: 65px;">

</textarea><center><h1>you can choose what you want :</h1></center>
<input type="checkbox" name="removepunc"> Remove Punctuations<br>
<input type="checkbox" name="uppercase"> UPPER CASE <br>
<input type="checkbox" name="newlineremove"> New Line Remove<br>
<input type="checkbox" name="spaceremover"> Space Remove<br>
<input type="checkbox" name="Character Count"> Character count: <br>
<button type='submit' > <h2> Submit text </h2></button>

</form>

</html>